.destination-header {
    text-align: left;
    padding: 20px;
  }

  .destination-header h1 {
    color: #FFFFFF;
    font-weight: bold;
  }

  .itinerary {
    text-align: center;
    padding: 20px;
  }

  .itinerary h2 {
    color: #335576;
    margin-bottom: 10px;
  }

  .itinerary p {
    background-color: #FEFAF5;
  }

  .day-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .day-card {
    background-color: white;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: #000000;
  }

  .day-card h3 {
    color: #000000;
    text-decoration: underline;
  }

  .day-card p {
    margin: 40px 0;
  }

  body.iceland {
    background-image: url(../Assets/Images/iceland.jpg);
    background-size: cover;
    background-position: center;
  }

  body.hawaii {
    background-image: url(../Assets/Images/hawaii.jpg);
    background-size: cover;
    background-position: center;
  }

  body.greece {
    background-image: url(../Assets/Images/greece.jpg);
    background-size: cover;
    background-position: center;
  }



  .footer-icons img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
