


  .get-started-content {
    text-align: center;
    padding: 100px 20px;
  }

  .get-started-content h1 {
    color: #335576;
  }

  footer {
    top: 120px;
  }

  .footer-icons img {
    width: 20px;
    height: 20px;

    margin-left: 10px;
  }
